$backgroundContent: url('../img/header_background_v2.jpg')no-repeat top/cover;
$backgroundBody:#efefef;
$fontStyle:normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$h1lettercolor:#6A6A6C;
$h1letterfontsize:26px;
$pageHeight:24px;
$pageButtonBackground:#0105ac;
$letterColor:#F06400;
$form: 1px solid;
$colorBorder:#607D8B;
$colorDescrp:#999999 ;
$h3lettercolor:#7C7DA2;
$h3letterfontsize:19px;
$backgorundbuttomcolor:#0105ac;
$email:transparent;
$name:transparent;
$textarea:transparent;
$h4colortext:#6A6A6C;
$articlebacgrkound:#FFFFFF;