$backgroundContent: url('../img/header_background_v1.jpg') no-repeat top/cover;
$backgroundBody:#fff;
$fontStyle:normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$h1lettercolor:black;
$h1letterfontsize:26px;
$pageHeight:24px;
$pageButtonBackground:#01ACAC;
$letterColor:#D1D9D4;
$form: 1px solid;
$colorBorder:#607D8B;
$colorDescrp:#F80000 ;
$h3lettercolor:#0097A7;
$h3letterfontsize:19px;
$backgorundbuttomcolor:#01ACAC;
$email:transparent;
$name:transparent;
$textarea:transparent;
$h4colortext:#000000;
$articlebacgrkound:#efefef;